* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
}
main{
    margin-top: 100px;
    text-align: center;
}
.btn{
    background-color: red;
    width: fit-content;
}