* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    text-align: center;
}

html,body {
    height: 100%;
    width: 100%;
}
main{
    padding: 20px;
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 60px 1fr 80px;
    grid-gap: 10px;

    
    grid-template-areas: "header header"
                         "aside  section"
                         "footer footer";
}
header{
    background-color: #008B8B;
    grid-area: header;
}
aside{
    background-color: #9932CB;
    grid-area: aside;
}
section{
    background-color: #171871;
    grid-area: section;
}
footer{
    background-color: #7F0000;
    grid-area: footer;
}